<!-- Reusable input element -->
<template name="select">
    <div class="reactive-input-container">
        <div class="form-group">
            {{#unless skipLabel}}
                <label>{{label}}</label>
            {{/unless}}
            <select class="form-control reactive-element" name="{{field}}" {{disabled}}>
                {{#each formattedOptions}}
                    <option value="{{valueAttribute}}" {{markIfSelected value valueAttribute}}>
                        {{text}}
                    </option>
                {{/each}}
            </select>
        </div>

        {{!-- Hide messages if the surrounding form was successfully submitted --}}
        {{#unless success}}

            {{!-- If submitted and not success, show error messages --}}
            {{#if submitted}}

                {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                    {{/if}}
            {{/if}}
            
        {{/unless}}
    </div>
</template>